     /* general */
body {
    text-align:justify;
    width: 960px;
    background-color: ghostwhite;
    max-width: 90%;
    margin: auto;
    font-family: arial;
}

     /* box */

div {
    background-color: rgba(250,20,250,0.2);
    padding: 5%;
    border-radius: 20px;
    border-style: outset;
    border-color: lightgray;
}
    /* gallery */

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

li {
    list-style: none;

}

img {
    flex-basis: 150px;
    height: 125px;
    filter: grayscale(100%);
    transition: 1s;
    padding: 15px 10px;
}

img:hover {
    transform: scale(1.4);
    filter:grayscale(0%);
}

