     /* Allgemein */
body {
    text-align:justify;
    width: 960px;
    background-color: ghostwhite;
    max-width: 90%;
    margin: auto;
    font-family: arial;
}

     /* transbox */

div {
    background-color: rgba(250,20,250,0.2);
    padding: 5%;
    border-radius: 20px;
    border-style: outset;
    border-color: lightgray;
}
    /* Gallery */

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

li {
    list-style: none;

}

img {
    flex-basis: 150px;
    height: 125px;
}
